.icons__wrapper {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   padding-block: 2rem;
   gap: 2rem;
   font-size: 2rem;
   cursor: pointer;

   .icons {
      animation: float 5s ease-in-out infinite;
      color: var(--red-200);
   }

   .icons__face {
      animation-delay: 1s;
      color: var(--blue-400);
   }

   .icons__whats {
      animation-delay: 2s;
      color: var(--green-400);
   }
}

@keyframes float {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-15px);
   }
   100% {
      transform: translateY(0);
   }
}
