.has__arrow_button {
   animation: toTheDown 5s infinite;
}

@keyframes toTheDown {
   0% {
      transform: translateY(-10px);
   }
   50% {
      transform: translateY(10px);
   }
   100% {
      transform: translateY(-10px);
   }
}
